<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload/Download</title>
</head>
<body>
<div>
    <h3>Upload MultipleFiles</h3>
    <form>id="uploadFiles" name="UploadFiles" method="post" th:action=@{uploadFiles} encType="multipart/form-data"</form>
    <input type="file" name="files" multiple required/>
    <button type="submit">submit</button>
</div>
<div>
    <h3>List of Documents</h3>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>download</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doc:${docs}"/>
        <td th:text="doc:${doc.Id}"/>
            <td th:text="doc:${doc.DocName}"/>
            <td th:text="doc:${doc.Id}"/>
            <td><a th:href="@{'/downloadFile/'+${doc.id}}">Download</a></td>
        </tbody>
    </table>
</div>

</body>
</html>